<template>
  <h3>Hello There!! {{ message }}</h3>
</template>

<script>
export default {
  name: 'HelloThere',
  data() {
    return {
      message: 'General Kenobi!'
    }
  }
}
</script>

<style>
  h3 {
    font-weight: bold;
    color: green;
  }
</style>
