<template>
  <hello-there/>
</template>

<script>
import HelloThere from './components/HelloThere'

export default {
  name: 'App',
  components: {
    HelloThere
  }
}
</script>

<style scoped>
  p {
    color: red;
  }
</style>
